.card {
  .card-body {
    display: flex;
    flex-direction: row;
  }
  //   height: 140px;
  margin: 10px;
  overflow: hidden;
  .card-img-top {
    width: 25%;
    height: 80%;
    margin-right: 15px;
    // margin: auto;
  }

  .status {
    font-size: 14px;
  }
  .date {
    font-size: 14px;
    color: #7d7d7b;
  }
  .id {
    font-size: 14px;
    color: #7d7d7b;
  }
  .button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
